.Container{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: white;
}
.Containersoldout{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #8f8f8f
    
}
.Title{
    position: relative;
    margin-left: 18px;
    padding-top: 23px;
    font-size: 14px;
    color: #707070;
}
.Description{
    position: relative;
    margin-left: 18px;
    padding-top: 2px;
    font-size: 11px;
    color: #B4B4B4;
}
.Price{
    position: relative;
    margin-left: 18px;
    padding-top: 2px;
    padding-bottom: 27px;
    font-size: 14px;
    color: #707070;
}
.Image{
    
    position: relative;
    float:right;
    margin-right: 3%;
   
    
}
.soldout{
    border-style: solid;
    width:70px;
    height:40px;
    margin-top:10px;
    float:right;
    position: absolute;
    right:7%;
    border-color:#d20c23;
    color: #d20c23;
    transition: 0.5s all ease;
    -ms-transform: rotate(330deg); 
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
    text-align: center;
    font-size: 30px;
}